* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

.navbar-container a {
  color: whitesmoke;
  margin: 0 auto;
  text-decoration: none;
}

.home-container {
  display: flex;
  flex-direction: row-reverse;
  

}

.wd-container {
  padding: 20px;
  margin: 2px auto;
  position: relative;
  background-color: #577166;
  border-radius: 15px;
}

.wd-container h4 {
  color: blue;
}

span {
  display: flex;
  flex-direction: row;
  color: red;
  cursor: pointer;
  gap: 3px;

}
.c-form {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}