* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

.navbar-container a {
  color: whitesmoke;
  margin: 0 auto;
  text-decoration: none;
}

.home-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 80px;


}

.wd-container {
  padding: 20px;
  margin: 2px auto;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0, 0.05);
  background-color: #577166;
  border-radius: 15px;
}

.wd-container h4 {
  color: blue;
}

span {
  color: red;
  cursor: pointer;

}